﻿<%@ Page Title="Weekly Progress" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="WeeklyProgress.aspx.cs" Inherits="Progress_Reports_WeeklyProgress" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %>.</h2>
    <div class="progress">
      <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 1%">
        <span class="sr-only">1% Complete</span>1%
      </div>
    </div>

 
    <iframe src="https://onedrive.live.com/embed?cid=355CF68CADAD29E0&resid=355CF68CADAD29E0%21110&authkey=AKiRO6IoTyMabq4" width="98" height="120" frameborder="0" scrolling="no"></iframe>
              
    
</asp:Content>
