﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron">
        <h1>App name</h1>
        <p class="lead">App intro</p>
        <p><a href="#" class="btn btn-primary btn-lg">learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>App Feature 1</h2>
            <p>
                Feature's description
            </p>
            <p>
                <a class="btn btn-default" href="#">Learn more &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Feature 2</h2>
            <p>
                Description 2
            </p>
            <p>
                <a class="btn btn-default" href="#">Learn more &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Feature 3</h2>
            <p>
                Description 3
            </p>
            <p>
                <a class="btn btn-default" href="#">Learn more &raquo;</a>
            </p>
        </div>
    </div>
</asp:Content>
