﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SubscribeNewsletter.aspx.cs" Inherits="SubscribeNewsletter" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:TextBox ID="tbEmail" runat="server"></asp:TextBox>
        <asp:Button ID="btnSubmit" runat="server" Text="Submit" OnClick="btnSubmit_Click"/>
    </div>
    </form>
</body>
</html>
